<h3>Welcome, {{name}}!</h3>
<p>You have been registered in the Church KYC System.</p>
<p>Your login details:</p>
<ul>
    <li>Email: {{email}}</li>
    <li>Password: {{password}}</li>
    <li>Role: {{role}}</li>
</ul>
<p>Upon your first login, you must change your password.</p>
<p>Thank you!</p>